<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Estrella Dorada - Mi Cuenta</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Transferencia</a></li>
            <li><a href="#">Depósito</a></li>
            <li><a href="#">Retiro</a></li>
        </ul>
    </div>
    
    <div class="container">
        <h1>Mi Cuenta</h1>
        <div class="user-info">

            <p>Nombre de Usuario: {{nomeU}}</p>
            <p>Saldo: {{saldo}}</p>
            <p>Numero de cuenta: {{conta}}</p>
            

        </div>
    </div>
</body>
</html>
